{% extends "base.html" %}
{% block content %}

    <section class="d-flex justify-content-between align-items-start">
        <h1>
            <div class="display-3">Create a Project</div>
        </h1>

        <!-- <button type="button" class="btn btn-primary btn-lg">Edit Project</button> -->
    </section>

    <section>
        <form method="post">
            <div class="form-group">
                <label for="Password">Title</label>
                <input type="name" class="form-control" id="title" name="title" placeholder="Name your Project">
            </div>
            <div class="container d-flex justify-content-center my-3">
                <button type="submit" class="btn btn-lg btn-warning">Create</button>
            </div>
        </form>
    </section>

{% endblock %}