{% extends "base.html" %}
{% block content %}

    <section class="d-flex justify-content-between align-items-start">
        <h1>
            <div class="display-3">My Projects</div>
        </h1>

        <button type="button" class="btn btn-primary btn-lg">New Project</button>
    </section>

    <section>
        <div class="row">
            
            {%if length < 1 %}

            <h1>
                <div class="display-6 text-muted">You currently have no Projects</div>
            </h1>

            {% else %}
            {%for project in projects%}
    
            <div class="col-3 my-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">Project:</h4>
                        <h4 class="card-title">{{project[2]}}</h4>
                        <form method="POST">
                            <input type="hidden" name="project_id" value="{{ project[0] }}">
                            <button type="submit" class="btn btn-primary">New go</button>
                        </form>
                    </div>
                </div>
            </div>
    
            {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock %}