{% extends "base.html" %}
{% block content %}

    <section class="d-flex justify-content-between align-items-start">
        <h1>
            <div class="display-3">Project: {{ project[0][2] }}</div>
        </h1>

        <button type="button" class="btn btn-primary btn-lg">Edit Project</button>
    </section>

    <section>

        <h1>
            <div class="display-6">Tasks</div>
        </h1>
        
        {%if length < 1 %}
        
        <h1>
            <div class="display-6 text-muted">No tasks were added to this project yet</div>
        </h1>

        {% else %}
            <div class="container bgpurple rounded">

                {% for i in range(0,length) %}
                {% if tasks[i][2] %}
                {% if i == 0 %}
                
                <div class="d-flex justify-content-between align-items-center colorvert m-3 p-2 pt-3 border-bottom border-light">
                
                {% elif i == (length - 1) %}
                
                <div class="d-flex justify-content-between align-items-center colorvert m-3 px-2 pb-3">
                    
                {% else %}

                <div class="d-flex justify-content-between align-items-center colorvert m-3 px-2 pb-3 border-bottom border-light">
                    
                {% endif %}
                
                {% else %}
                
                {% if i == 0 %}
                
                <div class="d-flex justify-content-between align-items-center m-3 p-2 pt-3 border-bottom border-light">
                
                {% elif i == (length - 1) %}
                
                <div class="d-flex justify-content-between align-items-center m-3 px-2 pb-3">
                    
                {% else %}

                <div class="d-flex justify-content-between align-items-center m-3 px-2 pb-3 border-bottom border-light">
                    
                {% endif %}

                {% endif %}
                
                
                    <h5>{{tasks[i][1]}}</h5>

                    {% if tasks[i][2] %}

                    <h5 class="text-muted fw-light fst-italic"> <i class="bi bi-check2"></i> Done </h5>

                    {% else %}

                    <form method="POST">
                        <input type="hidden" name="task_id" value="{{ tasks[i][0] }}">
                        <button type="submit" class="btn btn-warning">Done?</button>
                    </form>

                    {% endif %}
                </div>
                
                {% endfor %}
                
            </div>
        {% endif %}
    </section>

{% endblock %}