.content{
    max-width: 700px;
}

.hei{
    position: sticky;
    top: 0;
    height: 100vh;
}

.colorvert{
    color: #66ff66;
}

.bgbleu{
    background-color: #00052E;
}

.bgpurple{
    background-color: #8C96EB;
}